#Ignorar los pyc
*.pyc

#Ignorar los .rec usados para almacenamiento de recorridos(archivos con varios itemfalla capturados)
*.rec
*.rec.index
*.rec.lock
*.rec.tmp

#Archivos de capturas
*.pcd
*.csv
*.zip
*.tar
*.tar.bz
*.7z
*.rar

DB_MUESTRAS_LOCALES*.json

#Archivos de logging de la appCliente
_logs/*.log
modules/log.txt

